@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 500;
    color: #252525;
    user-select: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #ffe7a0;
}
.box > *{
    width: 80%;
}
header{
    height: 190px;
    background: #ffe7a0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.logo{
    display: flex;
    background: #f0bf2b;
    align-items: center;
    padding-left: 5%;
    gap: 9em;
    width: 100%;
    height: 110px;
}
.log_img{
    width: 8.5%;
    height: 95%;
}
nav{
    width: 100%;
    background: #ef3b2b;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    text-align: center;
    height: 100%;
    width: 20%;
    color: #252525;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    font-size: 25px;
}
nav a:hover{
    background-color: #f0bf2b;
}
.lang{
    width: 9%;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.ua{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 10%;
}
.en{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 10%;
}
.lang a{
    width: 40%;
    height: 100%;
}
main{
    height: 1000px;
    background: rgb(248, 246, 246);
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.button_close{
    width: 90%;
    background: none;
    font-size: 30px;
    text-align: start;
    height: 30px;
}
.button_open{
    width: 5%;
    background: none;
    font-size: 30px;
    height: 30px;
    position:absolute;
    top:24%;
    left: 85%;
    opacity: 0;
}
article{
    width: 75%;
    height: 100%;
    display: flex;
    overflow: scroll; 
    justify-content: center;
    padding: 5%;
    flex-wrap: wrap;
    align-content: space-around;
    scrollbar-width: thin;
}
.knvk{
    height: 200px;
    position: relative;
    left: -20px;
    top: -20px;
}
article p{
    font-size: 18px;
}
article h3{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 26px;
}
.article_h2{
    width: 60%;
    font-size: 35px;
    height: 150px; display: flex;
    align-items: center;
    justify-content: center;
}
aside{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background: #ef3b2b;
}
form{
    margin-top: 5%;
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
fieldset{
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
.username{
    width: 100%;
    height: 17%;
    padding-left: 3%;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 400;
    border-radius: 5px;
}
.side_p{
    width: 100%;
    text-align: center;
    font-size: 23px;
    line-height: 30px;
}
.password{
    width: 100%;
    height: 17%;
    padding-left: 3%;
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: 400;
    border-radius: 5px;
}
.submit{
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    background-color: #f0bf2b;
    font-size: 25px;
    padding-left: 20px;
    border-radius: 5px;
}
input:focus{
    outline: none;
}
.checkbox_login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remember_label{
    font-size: 18px;
    font-weight: 700;
    width: 130px;
    margin-left: 5%;
}
.forgot_password{
    font-size: 18px;
    font-weight: 800;
}
.diary{
    height: 25%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}
.h2_diary{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
.diary_img{
    width: 100%;
    height: 100%;
}
.diary_a{
    width: 90%;
    line-height: 1.8;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background: white;
    color: #ef9228;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5%;
}
.monu{
    width: 90%;
    height: 15%;
    margin-top: 10%;
    overflow: hidden;
}
footer{
    background: #ef3b2b;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width: 600px){
    .box > *{
        width: 100%;
    }
    header{
        height: 260px;
        margin-bottom: 5px;
    }
    nav{
        height: 150px;
        flex-wrap: wrap;
    }
    .log_img{
        width: 30%;
    }
    .logo{
        padding-left: 1%;
        gap: 0;
    }
    .logo_name{
        width: 100%;
        font-size: 23px;
        text-align: center;
    }
    nav a{
        font-size: 18px;
        width: 20%;
        height: 50%;
    }
    nav a:focus{
        background-color: #ef9228;
    }
    .lang{
        width: 30%;
        height: 20%;
    }
    main{
        height: 1300px;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin: 0;
    }
    .button_open{
        display: none;
    }
    article{
        width: 100%;
        height: 70%;
    }
    .knvk{
        top: 0;
        left: 4%;
        height: 300px;
    }
    .button_close{
        display: none;
    }
    aside{
        height: 30%;
        width: 100%;
        padding: 0;
    }
    form{
        height: 100%;
    }
    fieldset{
        width: 100%;
    }
    .checkbox_login{
        text-align: center;
        flex-direction: column;
        height: 50px;
    }
    .diary{
        display: none;
    }
    .monu{
        display: none;
    }
    .monu{
        width: 100%;
    }
    .diary *{
        width: 100%;
    }
    footer h2{
        display: flex;
        justify-content: center;
    }
    .knvk{
        width: 100%;
    }
    .diary{
        margin-top: 40%;
    }
    .username{
        height: 15%;
    }
    .password{
        height: 15%;
    }
    .submit{
        justify-content: center;
    }
}


@media screen and (min-width: 700px) and (max-width:900px){
    .box > *{
        width: 100%;
    }
    header{
        height: 300px;
        margin-bottom: 5px;
    }
    nav{
        height: 190px;
        flex-wrap: wrap;
    }
    .log_img{
        width: 15%;
    }
    .logo{
        padding-left: 1%;
        gap: 0;
    }
    .logo_name{
        width: 100%;
        font-size: 23px;
        text-align: center;
    }
    nav a{
        font-size: 28px;
        width: 20%;
        height: 50%;
    }
    nav a:focus{
        background-color: #ef9228;
    }
    .lang{
        width: 22%;
        height: 21%;
    }
    main{
        height: 1300px;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        margin: 0;
    }
    .button_open{
        display: none;
    }
    article{
        width: 100%;
        height: 70%;
    }
    article p{
        font-size: 25px;
    }
    .knvk{
        display: block;
        top: 0;
        left: 4%;
        height: 200px;
    }
    article .knvk{
        width: 300px;
    }
    .button_close{
        display: none;
    }
    aside{
        height: 30%;
        width: 100%;
        padding: 0;
    }
    form{
        height: 100%;
    }
    fieldset{
        width: 100%;
    }
    .checkbox_login{
        text-align: center;
        flex-direction: column;
        height: 50px;
    }
    .diary{
        display: none;
    }
    .monu{
        display: none;
    }
    .monu{
        width: 100%;
    }
    .diary *{
        width: 100%;
    }
    footer h2{
        display: flex;
        justify-content: center;
    }
    .knvk{
        width: 100%;
    }
    .diary{
        margin-top: 40%;
    }
    .username{
        height: 18%;
        width: 75%;
    }
    .password{
        height: 18%;
        width: 75%;
    }
    .submit{
        justify-content: center;
        width: 75%;
    }
}
@media screen and (min-width: 1000px) and (max-width:1450px){
    .box>*{
        width: 90%;
    }
    .knvk{
        height: 140px;
    }
    .log_img{
        width: 13%;
    }
    .logo{
       gap: 2em; 
    }
    header{
        height: 270px;
    }
    nav{
        flex-wrap: wrap;
        height: 150px;
        align-items: start;
    }
    nav a{
        height: 60%;
    }
    .lang{
        width: 15%;
        height: 35px;
    }
    .button_open{
        top: 35%;
    }
    .password{
        height: 15%;
    }
    .username{
        height: 15%;
    }
    .checkbox_login{
        flex-direction: column;
        height: 50px;
    }
}
